/build/
/dist/
/nbproject/private/
/repo/
/asm-all-repackaged-2.1.88.jar
/jersey-media-json-jettison-2.0.jar
/jersey-container-servlet-core.jar
/cglib-2.1.88.jar
/jersey-container-servlet.jar
/jersey-media-json-jackson-2.0.jar
/validation-api-1.1.0.jar
/javax.annotation-api-1.2.jar
/jersey-server.jar
/hk2-utils-2.1.88.jar
/test5647390143073336011test
/qwe
/jackson-jaxrs-1.9.11.jar
/osgi-resource-locator-1.0.1.jar
/jettison-1.3.3.jar
/test7671431335078895257test
/manifest.mf
/test2739267817350640914test
/javax.inject-2.1.88.jar
/javax.servlet-api-3.1.0.jar
/jackson-core-asl-1.9.11.jar
/jackson-xc-1.9.11.jar
/commons-io-2.4.jar
/guava-14.0.1.jar
/jersey-client.jar
/hk2-api-2.1.88.jar
/persistence-api-1.0.jar
/jersey-common.jar
/org.osgi.core-4.2.0.jar
/jackson-mapper-asl-1.9.11.jar
/hk2-locator-2.1.88.jar
/commons-compress-1.9.jar
/jaxb-api-2.2.7.jar